@mixin for-phone {
    @media (min-width: 320px) and (max-width: 480px) { @content; }
}

@mixin bodyText {
       font-family: 'LemonMilklight';
        font-size: 1.2em;
        line-height: 2;
}

@mixin headerText {
         font-family: 'Fontania';
          font-size: 3em;
            color: red;
}
#prishiContainer {
     width: 100%;
    height: 650px;
    position: relative;
    .firstLayer {
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 51% 69%, 0 100%, 0 0);
        background-image: url("https://images7.alphacoders.com/410/410661.jpg");
        background-position: bottom;
        z-index: -1;
    }
    .secondLayer {
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 51% 69%, 0 100%, 0 0);
        background: linear-gradient(120deg, #FF0000, #FFE400);
        z-index: 0;
        position: absolute;
        top: 0;
        opacity: 0.6;
    }

    .thirdLayer {
        z-index: 1;
        position: absolute;
        top: 0;
        width: 100%;
        
        .textContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            .header {
                font-size: 4.5em;
                font-family: 'Fontania';
                @include for-phone {
                    font-size: 3em;
                }
            }
            .description {
                font-size: 2em;
                font-family: 'LemonMilklight';
                @include for-phone {
                    text-align: center;
                }
            }
        }
    }
}

.bar {
    width: 35px;
    height: 5px;
    background: white;
    z-index: 3;
    margin: 3px 0;
    }

    .bar1, .bar2, .bar3 {
        transition: 0.4s;
    }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
    flex-direction: column;
    height: 100px;
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 5;
}

.sideNav {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 0px;
    height: 100%;
    background: black;
    color: white;
    transition: 350ms ease-in-out;
    
    .sideRishiText {
        visibility: hidden;
        position: absolute;
        top: 20%;
        left: 15%;
        font-family: 'LemonMilklight';
        a {
            cursor: pointer;
            text-decoration: none;
            color: white;
            &:hover {
                color: #0073E7;
            }
        }
    }
}

.sideRishiOverlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 3;
}


.introductionRishi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 15%;
    text-align: center;
    @include for-phone {
    }

    .introHeader {
            font-size: 3em;
            font-family: 'Fontania';
            color: red;
    }

    .introText {
        font-size: 1.2em;
        font-family: 'LemonMilklight';
        line-height: 2;
    }

    img {
        @include for-phone {
            transform: scale(0.4);
        }
    }
}


.rishiInfo {
    margin: 5% 0 0 0;
    display: flex;
    justify-content: space-around;
    margin: 5% 15%;
    height: 500px;
    .infoDiv {
        display: flex;
        flex-direction: column;

        .dateDiv {
            text-align: center;

            .date {
                color: red;
                font-family: 'Fontania';
                font-size: 2em;
            }
            .dateMonth {
                font-family: 'LemonMilklight';
                font-size: 1.5em;
            }
        }

        .teammateDiv {
            text-align: center;
            .teammates {
                color: red;
                font-family: 'Fontania';
                font-size: 2em;
            }
            .teammateNames {
                font-family: 'LemonMilklight';
                font-size: 1.2em;
            }
        }
    }
}

        .viewProjectBtn {
            width: 20%;
            align-items: center;
            button {
               border: none;
                background: red;
                width: 100%;
                height: 10%;
                align-self: center;
                color: white;
                font-family: 'LemonMilklight';
                font-size: 1.2em;
                border-radius: 30px;
                box-shadow: 4px 2px 2px lighten(red, 10%);

            }
        }


.rishiProblem, .needfinding, .userProfile, .design {
    margin: 0 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .problemHeader, .needHeader, .userProfileHeader, .designHeader {
        @include headerText;
    }
    .problemText, .needText, .userProfileText, .designText {
        @include bodyText;   
    }
    
}

.needList {
    @include bodyText;
    list-style: circle;
    font-size: 1em;
}

.design {
    img {
        margin: 3% 0;
        border: 1px solid black;
        width: 50%;
    }
}